<h1>Footer is working!</h1>

</body>

<script src="scripts/jquery.min.js" charset="utf-8"></script>
<script src="scripts/bootstrap.min.js" charset="utf-8"></script>
<script src="scripts/main.js" charset="utf-8"></script>

</script>
</html>
